@import "tailwindcss";

body{
  background-color: #111;
  color:white;
}

#tasklist::-webkit-scrollbar{
  display:none;
}

#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143,143,143);
  border-radius: 40px;
}

input , textarea , select{
  background-color: white;
  color:black;
}